<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page description -->
    <meta name="description" content="Aquarium website; DmitriyR54; Portfolio; Webpack; Landing page">
    <title>Aquarium</title>
    <!-- loading placeholder styles -->
    <%- include('../../components/loadingPlaceholder/loadingPlaceholderStyles.ejs') %>
</head>

<body>
    <!-- show the placeholder while the page is loading -->
    <%- include('../../components/loadingPlaceholder/loadingPlaceholder.ejs') %>
        <!-- page content -->
        <%- include('../../sections/Header/Header.ejs') %>
            <main class="main">
                <%- include('./homeSections/Intro/Intro.ejs') %>
                    <%- include('./homeSections/Gallery/Gallery.ejs') %>
                        <%- include('./homeSections/Inhabitants/Inhabitants.ejs') %>
            </main>
            <%- include('../../sections/Footer/Footer.ejs') %>
</body>

</html>