<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# page description %>
    <meta name="description" content="Aquarium website; DmitriyR54; Portfolio; Webpack; Landing page">
    <title>Aquarium</title>
    <%# loading placeholder styles %>
    <%- include('../../components/loadingPlaceholder/loadingPlaceholderStyles.ejs') %>
</head>

<body>
    <%# show the placeholder while the page is loading %>
    <%- include('../../components/loadingPlaceholder/loadingPlaceholder.ejs') %>
    <%# page content %>
    <%- include('../../sections/Header/Header.ejs') %>
    <%# need this 'root' wrapper to add the parallax effect %>
    <div class="root">
        <%# parallax background %>
        <div class="intro__background">
            <picture class="intro__bg-img">
                <source media="(max-width: 768px)" srcset="./homeSections/Intro/img/intro-img-sm.webp" width="768px" height="1109px" alt="picture of The Aquarium">
                <img src="./homeSections/Intro/img/intro-img.webp" width="2000px" height="1126px" alt="picture of The Aquarium">
            </picture>
            <%- include('./homeSections/Intro/Intro.ejs') %>
        </div>
        <main class="main">
            <%- include('./homeSections/Gallery/Gallery.ejs') %>
            <div class="sticky-group">
                <%- include('../../components/stickyImages/stickyImages-1.ejs') %>
                <%- include('./homeSections/Inhabitants/Inhabitants.ejs') %>
                <%- include('./homeSections/Prices/Prices.ejs') %>
            </div>
            <div class="sticky-group">
                <%- include('../../components/stickyImages/stickyImages-2.ejs') %>
                <%- include('./homeSections/Services/Services.ejs') %>
            </div>
            <div class="sticky-group">
                <%- include('../../components/stickyImages/stickyImages-3.ejs') %>
                <%- include('./homeSections/Testimonials/Testimonials.ejs') %>
            </div>
            <%- include('./homeSections/ContactUs/ContactUs.ejs') %>
        </main>
        <%- include('../../sections/Footer/Footer.ejs') %>
    </div>
    <%- include('../../sections/Author/Author.ejs') %>
</body>

</html>